/* src/assets/main.css */

/* 重置所有元素的默认内外边距。
  这能确保我们的布局从一个干净、统一的状态开始。
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 设置 html, body, 和 Vue 的根元素 #app
  高度和宽度都为 100%，以占满整个浏览器窗口。
*/
html,
body,
#app {
  width: 100%;
  height: 100%;
  /* 移除任何可能由脚手架默认设置的最大宽度限制 */
  max-width: none;
}
